.chd-input-text {
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 1px;
    margin: 0px;
}
.chd-input-text:disabled {
    color: $disabledTextColor;
}

.chd-input-select {
    border: solid 1px #def;
    font-size: 13px;
    color: #4af;
    background: inherit;
}

.chd-color-picker {
    width: 16px;
    height: 16px;
    display: block;
}
