.chd-input-text {
    border: 1px solid #eee;
    border-radius: $border_radius;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: -1px;
    font-size: $font_size_main;
}
.chd-input-text:disabled {
    color: $text_color_disabled;
}

.chd-input-select {
    border: solid 1px #def;
    border-radius: $border_radius;
    color: #4af;
    background: inherit;
    width: 31px;
    height: 21px;
}

.chd-color-picker {
    width: 16px;
    height: 16px;
    display: block;
}

.chd-title-small {
    font-weight: bold;
    line-height: 14px;
}

.chd-sub-title-small {
    font-size: $font_size_small;
    color: $text_color_light;
}

.chd-button {
    font-size: $font_size_button;
    color: $text_color_inverted_light;
    background: linear-gradient(0deg, #09F, #3bf); ;
    border: none;
    border-radius: $border_radius;
    padding: 4px 8px;
}
