$chd_history_chart__margin_left: 29px;
$chd_history_chart__margin_right: 23px;
$chd_history_chart__dragging_cursor: ns-resize;
.chd-history-chart {
    width: 272px;
    height: 223px;
}
.chd-history-chart__title {
    margin-left: $chd_history_chart__margin_left;
    padding-bottom: 0px;
}
.chd-history-chart__x {
    margin-left: $chd_history_chart__margin_left;
    margin-right: $chd_history_chart__margin_right;
    display:block;
    position: relative;
}

.chd-history-chart__x-left {
    width: 100%;
    position: absolute;
    text-align: left;
}
.chd-history-chart__x-center {
    width: 100%;
    position: absolute;
    text-align: center;
}
.chd-history-chart__x-right {
    width: 100%;
    position: absolute;
    text-align: right;
}

.chd-history-chart__chart {
    width: 272px;
    height: 182px;
}


.chd-history-chart__chart-graph-area {
    // pointer-events: all;
    fill: rgba(0, 0, 0, 0);
    cursor: default;
}
.chd-history-chart__chart-graph-area_dragging {
    cursor: $chd_history_chart__dragging_cursor;
}

.chd-history-chart__line {
    fill: none;
    stroke-width: 1.5px;
}

.chd-history-chart__forecast-circle {
    r: 3px;
    cursor: $chd_history_chart__dragging_cursor;
}

.chd-history-chart__axis path,
.chd-history-chart__axis line {
    fill: none;
    stroke: $chart_axes_color;
    shape-rendering: crispEdges;
}
.chd-history-chart__axis text {
    font-size: $font_size_main;
}

.chd-history-chart__axis_x text {
    display:none;
}









