
.chd-volume-histogram {
    width: 276px;
    height: 223px;
}

.chd-volume-histogram__axis text {
    font-size: $font_size_main;
}

// .chd-history-chart__axis path,
// .chd-history-chart__axis line {
//     fill: none;
//     stroke: $chart_axes_color;
//     shape-rendering: crispEdges;
// }
// .chd-history-chart__axis text {
//     font-size: $font_size_main;
// }

// .chd-history-chart__axis_x text {
//     display:none;
// }
