$chd_volume_histogram__margin_left: 25px;
$chd_volume_histogram__margin_right: 27px;

.chd-volume-histogram {
    width: 279px;
    height: 223px;
}

.chd-volume-histogram__axis text {
    font-size: $font_size_volume_histogram_axis;
}

.chd-volume-histogram__x {
    margin-left: $chd_volume_histogram__margin_left;
    margin-right: $chd_volume_histogram__margin_right;
}
.chd-volume-histogram__x:after {
    display:block;
    content: ' ';
    clear: both;
}


.chd-volume-histogram__x-left {
    float: left;
}
.chd-volume-histogram__x-right {
    float: right;
}




.chd-volume-histogram__totals {
    font-weight: bold;
    font-size: $font_size_volume_histogram_totals;
    margin-left: $chd_volume_histogram__margin_left;
}
.chd-volume-histogram__totals:after {
    display:block;
    content: ' ';
    clear: both;
}
.chd-volume-histogram__totals-left {
    float: left;
}
.chd-volume-histogram__totals-right {
    float: right;
}
