$text_color_main: #000;
$text_color_inverted: #fff;
$text_color_disabled: #ddd;
$text_color_light: #bbb;

$border_color: #ddd;
$border_radius: 3px;

$font_size_main: 12.7px;
$font_size_small: 10.9px;

$bg_color: #fff;
