.chd-page {
    position: relative;
    width: 860px;
    font-family: Helvetica;
    border: solid 1px #ddd;
    padding: 22px 30px;
}
.chd-page__c0 {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 20px;
}
.chd-page__c1 {
    display: inline-block;
    vertical-align: top;
}
.chd-page__c01 {
    padding-right: 16px;
}
.chd-page__c03 {
    display: block;
    float: right;
}
.chd-page__c11 {
    padding-right: 25px;
}
.chd-page__c12 {
    padding-right: 25px;
}


.chd-row3__c {
    display: inline-block;
    padding-bottom: 6px;
}

.chd-row3__c1 {
    width: 88px;
    padding-right:12px;
}

.chd-row3__c2 {
    width: 68px;
    padding-right:12px;
}

.chd-row3__c3 {
    width: 78px;
}


.chd-header {
    font-size: 22px;
    font-weight: bold;
}


.chd-with-deposits-checkbox__label {
    font-size: 13px;
}
.chd-cur-currency-selector__label {
    font-size: 13px;
}


.chd-user-form {
    font-size: 13px;
}
.chd-user-form-header__c {
    font-weight: bold;
    line-height: 16px;
}

.chd-user-value-row__sign {
    text-align: center;
    display: inline-block;
    width: 11px;
    margin-right: 7px;
    color: #fff;
    border-radius: 3px;
}

.chd-user-value-row__amount-input {
    width: 64px;
}

.chd-user-value-row__rate-input {
    width: 57px;
}

.chd-history-chart {
    width: 272px;
    height: 223px;
    font-weight: bold;
    font-size: 13px;
    background: #ccc;
}

.chd-user-chart {
    width: 276px;
    height: 223px;
    font-weight: bold;
    font-size: 13px;
    background: #ccc;
}

.chd-user-value-dialog {
    display:none;
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .8);
}
.chd-user-value-dialog_visible {
    display: block;
}

.chd-user-value-dialog__panel {
    margin: auto;
    width: 300px;
    background: white;
    border: solid 1px #eee;
    margin-top: 100px;
    padding: 20px 30px;
}

.chd-user-value-dialog__row {
    padding-bottom: 6px;
}
.chd-user-value-dialog__row-span {
    display: inline-block;
    vertical-align: middle;
}
